include aspect-ratio-img

.mr-grid
    .mr-title Mr. Makes-A-Word

    .mr-subtitle.section-subtitle
        div An iOS word game
        img(src='assets/images/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg' alt='')
    .mr-description.section-description
        | Mr. Makes-A-Word is a fun and colorful word game for iOS. In addition to 13 cooky characters to unlock, the game features over 100 levels that increase in difficulty with the player&rsquo;s skill.
    .mr-trailer
        .mr-trailer-frame
            iframe(src='https://player.vimeo.com/video/474758571' frameborder='0' allow='autoplay; fullscreen' allowfullscreen='')

    .mr-cards
        img(src='./assets/images/mr/cards/bobmeat.png' id='mr-cards-img')
    .mr-cereal
        img(src='./assets/images/mr/gif/cereal.gif')
    .mr-gift
        img(src='./assets/images/mr/gif/gift.gif')
    .mr-milk-bag
        img(src='./assets/images/mr/gif/milkbag.gif')
    .mr-tiles-gif
        img(src='./assets/images/mr/gif/tiles-gif.gif')
    .mr-sticker-lg.allow-overflow#sticker-lg-container
        each val in largeStickerConfigs
            img(
                src='./assets/mr-makes/stickers/lg/' + val.name + '.png',
                id=val.name,
                width=val.width,
                style="display: none",
                data-bg-color=val.color
            )
    .mr-sticker-sm-1#sticker-sm1-container
        each val in smallStickerConfigs1
            img(
                src='./assets/mr-makes/stickers/sm-1/' + val.name + '.png',
                id=val.name,
                width=val.width,
                style="display: none",
                data-bg-color=val.color
            )
    .mr-sticker-sm-2#sticker-sm2-container
        each val in smallStickerConfigs2
            img(
                src='./assets/mr-makes/stickers/sm-2/' + val.name + '.png',
                id=val.name,
                width=val.width,
                style="display: none",
                data-bg-color=val.color
            )
    .mr-powerups-1
        img(src='./assets/images/mr/powerups.png')
    .mr-powerups-2
        img(src='./assets/images/mr/icons.png')
    .mr-lemoon-bg
    .mr-lemoon
        img(src='./assets/images/mr/lemoon.png')
