include aspect-ratio-img
include gif
include picture

.mr-grid
    .mr-title.section-title Mr. Makes-A-Word

    .mr-subtitle.section-subtitle
        a(href='https://apps.apple.com/us/app/mr-makes-a-word/id1496556261')
            img(src='assets/shared/AppStoreDownloadBadge.svg' alt='')
    .mr-description.section-description
        | Mr. Makes-A-Word is a fun and colorful word game for iOS. In addition to 13 cooky characters to unlock, the game features over 100 levels that increase in difficulty with the player&rsquo;s skill.
    .mr-trailer
        .mr-trailer-frame
            video(width='100%' controls preload="none" poster="assets/mr-makes/video-thumbnail.png")
                source(src='assets/videos/portrait_v1.mp4' type='video/mp4')
                | Sorry, your browser doesn&apos;t support embedded videos.

    .mr-cards
        picture
            source(srcset='./assets/mr-makes/cards/bobmeat.webp' type='image/webp' id='mr-cards-webp')
            source(srcset='./assets/mr-makes/cards/bobmeat.png' type='image/png' id='mr-cards-png')
            img(src='./assets/mr-makes/cards/bobmeat.png' id='mr-cards-img')

    .mr-cereal
        +gif('./assets/mr-makes/cereal', fallback=true)

    .mr-gift
        +gif('./assets/mr-makes/gift')
    .mr-milk-bag
        +gif('./assets/mr-makes/milkbag')
    .mr-tiles-gif
        +gif('./assets/mr-makes/tiles-gif')

    .mr-sticker-lg.allow-overflow#sticker-lg-container
        -var index = 0
        each val in largeStickerConfigs
            picture
                source(srcset='./assets/mr-makes/stickers/lg/' + val.name + '.webp' type='image/webp')
                source(srcset='./assets/mr-makes/stickers/lg/' + val.name + '.png' type='image/png')
                img(
                    src='./assets/mr-makes/stickers/lg/' + val.name + '.png',
                    id=val.name,
                    width=val.width,
                    style=(index == 0) ? "display: block" : "display: none",
                    data-bg-color=val.color
                )

            - index++
    .mr-sticker-sm-1#sticker-sm1-container
        -var index = 0
        each val in smallStickerConfigs1
            picture
                source(srcset='./assets/mr-makes/stickers/sm-1/' + val.name + '.webp' type='image/webp')
                source(srcset='./assets/mr-makes/stickers/sm-1/' + val.name + '.png' type='image/png')
                img(
                    src='./assets/mr-makes/stickers/sm-1/' + val.name + '.png',
                    id=val.name,
                    width=val.width,
                    style=(index == 0) ? "display: block" : "display: none",
                    data-bg-color=val.color
                )
            - index++
    .mr-sticker-sm-2#sticker-sm2-container
        -var index = 0
        each val in smallStickerConfigs2
            picture
                source(srcset='./assets/mr-makes/stickers/sm-2/' + val.name + '.webp' type='image/webp')
                source(srcset='./assets/mr-makes/stickers/sm-2/' + val.name + '.png' type='image/png')
                img(
                    src='./assets/mr-makes/stickers/sm-2/' + val.name + '.png',
                    id=val.name,
                    width=val.width,
                    style=(index == 0) ? "display: block" : "display: none",
                    data-bg-color=val.color
                )
            - index++
    .mr-powerups-1
        +picture('./assets/mr-makes/powerups', 'powerups')
    .mr-powerups-2
        +picture('./assets/mr-makes/icons', 'icons')
    .mr-lemoon-bg
    .mr-lemoon
        +picture('./assets/mr-makes/lemoon', 'lemoon')
