mixin picture(base_path, id=null, alt_text='', className='')
    picture
        source(srcset=base_path + '.webp' type='image/webp')
        source(srcset=base_path + '.png' type='image/png')
        img(src=base_path + '.png' alt=alt_text, id=id, class=className)
